#container{
    background-image: url(../images/nice-looking.jpeg);
    background-position: bottom;
    background-size: cover;
}
#container h2{
    color: lime;
    text-align: center;
    text-decoration: maroon;
}

.name p{
    color: yellow;
}
#name p{
    color: yellow;
    text-align: center;
    padding-top: 20pc;
    width: 30.5%;
    height: 30.5%;
}
#jumbotron{
    background-color: maroon;
    background-image: url(../images/bob-.jpg);
    text-decoration-skip-ink: unset;

}
#home{
    text-align: center;
    font-size: 6.5pc;
    font-style: italic;
    font-variant-position: super;
    color: maroon;
}
